@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;700&display=swap');
:root {
    --azul-oscuro: #0a2540; /* Ajusta al azul de tu logo */
    --naranja-optim: #f36f21; /* El naranja de tu botón 'Registrarse' */
    --blanco: #ffffff;
    --azul-head: #078ac3;

    --primary-color: #2da44e; /* Verde estilo GitHub, cámbialo por el azul de tu marca si prefieres */
    --bg-dark: #0d1117;       /* Fondo oscuro profundo */
    --text-main: #24292f;     /* Texto casi negro */
    --border-color: #d0d7de;  /* Gris suave para bordes */
    --input-focus: #0969da;   /* Azul de enfoque */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: #fff;
    color: var(--text-main);
    height: 100vh;
    display: flex;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.brand-panel {
    flex: 1;
    background-color: var(--azul-oscuro);
    background-image: linear-gradient(rgba(13,17,23,0.8), rgba(13, 17, 23, 0.8)), url('./fondo-log.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: white;
    text-align: center;
}

.brand-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#inspiring-quote {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.9;
    font-style: italic;
}

/* panel derecho */