.revelar {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.revelar.activo {
    opacity: 1;
    transform: translateY(0);
}

.revelar-izq {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-out;
}

.revelar-izq.activo {
    opacity: 1;
    transform: translateX(0);
}