* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(150deg, #ffffff, #e7f5f9);
    border-bottom: 1px solid #c5c7cb;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(6px);
}

section {
    scroll-margin-top: 96px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 42px;
    width: 130px;
}

.nav-actions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    color: #424b54;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

nav a:hover {
    color: #3f4245;
    text-decoration: overline;
}

.auth-buttons a {
    padding: 10px;
    background: #727679;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.auth-buttons a:hover {
    background: #3f4245;
    transition: 0.3s ease;
}

.auth-buttons a i {
    margin-right: 8px;
    font-size: 1rem;
}

.presentacion {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    background: linear-gradient(180deg, #ffffff, #88d7f1);
    padding-bottom: 80px;
    justify-content: center;
    text-align: center;
}

.presentacion-content {
    max-width: 700px;
}

.presentacion-img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.presentacion h2 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.presentacion p {
    font-size: 18px;
    color: #666;
    margin: 0 20px;
    line-height: 1.6;

}


/* seccion del por que */
.por-que {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(180deg, #88d7f1, #ffffff);
}

.por-que h2 {
    font-size: 2.4rem;
    margin-bottom: 25px;
    color: #3c5566;
}

.por-que p.sub {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #444;
}

.por-que-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.por-que-item {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

}

.por-que-item i {
    font-size: 25px;
    color: #3c5566;
    margin-bottom: 14px;
}

.por-que-item h3 {
    margin-bottom: 10px;
    color: #063659;
    font-size: 1.3rem;
}

.por-que-item p {
    color: #555;
    font-size: 0.95rem;
}