* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(150deg, #0a537f, #88daf1);
    border-bottom: 1px solid #c5c7cb;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(6px);
}

section {
    scroll-margin-top: 96px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 42px;
    width: 130px;
}

.nav-actions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

nav a:hover {
    color: #fff;
    text-decoration: overline;
}

.auth-buttons a {
    padding: 10px;
    background: #56bee1;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.auth-buttons a:hover {
    background: #0f77b7;
    transition: 0.3s ease;
}

.auth-buttons a i {
    margin-right: 8px;
    font-size: 1rem;
}

/*Seccion del hero*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: linear-gradient(to bottom, #fff, #fff);

}

.hero-content {
    max-width: 50%;
}

.hero-content h2 {
    font-size: 2.2rem;
    font-weight: 650;
    color: #3c5566;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    color: #3c5566;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-secondary {
    background-color: #0f77b7;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background-color: #655f5f;
    color: #fff;

}

.hero img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* seccion del por que */
.por-que {
    padding: 60px 20px;
    text-align: center;
    background: #ebfaff;
}

.por-que h2 {
    font-size: 2.1rem;
    margin-bottom: 25px;
    color: #2d86c3;
}

.por-que p.sub {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #444;
}

.por-que-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.por-que-item {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

}

.por-que-item i {
    font-size: 25px;
    color: #3c5566;
    margin-bottom: 14px;
}

.por-que-item h3 {
    margin-bottom: 10px;
    color: #063659;
    font-size: 1.3rem;
}

.por-que-item p {
    color: #555;
    font-size: 0.95rem;
}


/*Caracteristicas*/
.titulo-seccion {
    padding: 70px 20px;
    text-align: center;
}

.titulo-seccion h2 {
    font-size: 2.1rem;
    margin-bottom: 5px;
    color: #063659;
}

.caracteristicas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 20px;

}

.caracteristicas .titulo {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    max-width: 350px;
    color: #2a2525;
}

.caracteristicas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
    max-width: 900px;
}

.caracteristicas-item i {
    font-size: 28px;
    margin-bottom: 12px;
    color: #4f7084;
}

.caracteristicas-item h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.caracteristicas-item p {
    font-size: 15px;
    color: #555;
    line-height: 1.4;
    max-width: 240px;
}

.titulo-sol {
    padding: 70px 20px;
    text-align: center;
    background: #ebfaff;

}

.titulo-sol h2 {
    font-size: 2.1rem;
    color: #2d86c3;
    margin-bottom: 10px;
}

.titulo-sol p {
    font-size: 1.1rem;
    color: #555;
}

.soluciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    background: #ebfaff;

}

.soluciones-lista {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.solucion-box {
    display: flex;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    min-height: 220px;
}


.solucion-box.reverse {
    flex-direction: row-reverse;
}

.solucion-texto {
    flex: 1;
    padding: 50px;
}

.solucion-texto h3 {
    font-size: 1.5rem;
    color: #063659;
    margin-bottom: 15px;
}

.solucion-texto p {
    font-size: 1.05rem;
    color: #444;
    line-height: 1.6rem;
}

.solucion-imagen {
    width: 45%;
}

.solucion-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}