* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #c5c7cb;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(6px);
}

section {
    scroll-margin-top: 96px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 42px;
    width: 130px;
}

.nav-actions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    color: #817878;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

nav a:hover {
    text-decoration: overline;
}

.auth-buttons a {
    padding: 10px;
    background: #063659;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.auth-buttons a:hover {
    background: #fff;
    transition: 0.3s ease;
}