* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(150deg, #0a537f, #88daf1);
    border-bottom: 1px solid #c5c7cb;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(6px);
}

section {
    scroll-margin-top: 96px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 42px;
    width: 130px;
}

.nav-actions {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

nav a:hover {
    color: #fff;
    text-decoration: overline;
}

.auth-buttons a {
    padding: 10px;
    background: #56bee1;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.auth-buttons a:hover {
    background: #0f77b7;
    transition: 0.3s ease;
}

.auth-buttons a i {
    margin-right: 8px;
    font-size: 1rem;
}

/*Seccion del hero*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: linear-gradient(to bottom, #fff, #fff);

}

.hero-content {
    max-width: 50%;
}

.hero-content h2 {
    font-size: 2.2rem;
    font-weight: 650;
    color: #3c5566;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    color: #3c5566;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-secondary {
    background-color: #0f77b7;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background-color: #655f5f;
    color: #fff;

}

.hero img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* seccion del por que */
.por-que {
    padding: 60px 20px;
    text-align: center;
    background: #ebfaff;
}

.por-que h2 {
    font-size: 2.1rem;
    margin-bottom: 25px;
    color: #2d86c3;
}

.por-que p.sub {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #444;
}

.por-que-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.por-que-item {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

}

.por-que-item i {
    font-size: 25px;
    color: #3c5566;
    margin-bottom: 14px;
}

.por-que-item h3 {
    margin-bottom: 10px;
    color: #063659;
    font-size: 1.3rem;
}

.por-que-item p {
    color: #555;
    font-size: 0.95rem;
}


/*Caracteristicas*/
.caracteristicas {
    padding: 70px 20px;
    text-align: center;
    background: #ffffff;
}