* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #b22222 40%, #7f1d1d 100%);
}

.login-card {
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-foto img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #d9d9d9;
    padding: 10px;
    margin-bottom: 15px;
}

.login-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

form label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    margin: 10px 0 5px;
    color: #555;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}

form input:focus,
form select:focus {
    border-color: #dc2626;
    ;
    box-shadow: 0 0 5px rgba(11, 44, 77, 0.3);
}

.btn-login {
    width: 100%;
    background: #374151;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #191e26;
}

select {
    color: #374151;
    padding: 0.5rem;
    border-radius: 8px;
}